# Metadata: 
*  @Autor:Alix Ivonne Chaparro Vasquez
*  @Date:2022/Feb/12
*  @Description:This python notebook shows basic exercises in python.

# Ejercicios Básicos

## Ejercicio 1: Productos + Iva

###Versión normal

In [ ]:
prod1=int(input("Input first product:"))
prod2=int(input("Input second product:"))
prod3=int(input("Input third product:"))
prod4=int(input("Input fourth product:"))
prod5=int(input("Input fifth product:"))
suma=(prod1+prod2+prod3+prod4+prod5)
iva=suma *0.19
total=suma+iva
print("Valor bruto",suma,"\nIVA:",iva,"\nTOTAL:",total)

Input first product:66
Input second product:77
Input third product:88
Input fourth product:33
Input fifth product:88
Valor bruto 352
IVA: 66.88
TOTAL: 418.88

###Versión Python

In [ ]:
pro1,pro2,pro3,pro4,pro5=input("input 1°,2°,3°,4° and 5° products, separate with comma:").split(",")
suma=(pro1+pro2+pro3+pro4+pro5)
print("Valor bruto",suma,"\nIVA:",iva,"\nTOTAL:",total)

input 1°,2°,3°,4° and 5° products, separate with comma:33,55,33,44,66
Valor bruto 3355334466
IVA: 66.88
TOTAL: 418.88

##Ejercicio 2:

###Versión normal

In [ ]:
var1=float(int(input("Enter the first number: ")))
var2=float(int(input("Enter the second number: ")))
var3=float(int(input("Enter the third number: ")))

if (var1 >= var2) and (var1 >= var3):
   largest = var1
elif (var2 >= var1) and (var2 >= var3):
   largest = var2
else:
   largest = var3

print("The largest number is", largest)

if (var1 <= var2) and (var1 <= var3):
  smallest = var1
elif (var2 <= var1) and (var2 <= var3):
   smallest = var2
else:
   smallest = var3

print("The smallest number is", smallest)

sum=var1+var2+var3

average=sum/3

print("The average is", average)

Enter the first number: 5
Enter the second number: 3
Enter the third number: 2
The largest number is 5.0
The smallest number is 2.0
The average is 3.3333333333333335

###Versión Python

In [ ]:
var1,var2,var3=input("Enter 3 numbers separated by comma:").split(",")
print("The largest number is:"+str(max(int(var1),int(var2),int(var3))),"The smallest number is: "+str(min(int(var1),int(var2),int(var3))), "The average is: "+ str((int(var1)+int(var2)+int(var3))/3))

Enter 3 numbers separated by comma:5,3,2
The largest number is:5 The smallest number is: 2 The average is: 3.3333333333333335

##Ejercicio 3:

###Versión normal

In [ ]:
list1 = []
num = int(input("Enter number of elements in list: "))
total_sum=0
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
    total_sum += ele

print("List:",list1)

list1.sort()
print("Sorted list in ascending order:",list1)

list1.sort(reverse = True)
print("Sorted list in descending order:",list1)

maximum = max(list1)
print("The largest number is:",maximum)

smallest = min(list1)
print("The smallest number is:",smallest)

avg = total_sum/num
print("The average is:", avg)

Enter number of elements in list: 3
Enter elements: 5
Enter elements: 3
Enter elements: 2
List: [5, 3, 2]
Sorted list in ascending order: [2, 3, 5]
Sorted list in descending order: [5, 3, 2]
The largest number is: 5
The smallest number is: 2
The average is: 3.3333333333333335

###Version Python

In [12]:
list1 = []
num = int(input("Enter number of elements in list: "))
total_sum=0
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
    total_sum += ele

print("List:",list1)

list1.sort()
print("Sorted list in ascending order:",list1)

list1.sort(reverse = True)
print("Sorted list in descending order:",list1)

print("The largest number is:",maximum, "\nThe smallest number is:",smallest, "\nThe average is:",avg)

Enter number of elements in list: 3
Enter elements: 5
Enter elements: 1
Enter elements: 9
List: [5, 1, 9]
Sorted list in ascending order: [1, 5, 9]
Sorted list in descending order: [9, 5, 1]
The largest number is: 6
The smallest number is: 2
The average is: 4.0